@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #5f5f5f;
  box-sizing: border-box;
}
html.noscroll,
body.noscroll {
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h2 {
  color: #442529;
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  font-size: 3.75rem;
  text-align: center;
  font-weight: normal;
  position: relative;
  padding-bottom: 20px;
}
h2:before {
  content: "";
  width: 24%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 38%;
  background: rgba(0,0,0,0.1);
}
@media only screen and (max-width: 47em) {
  h2:before {
    width: 72%;
    left: 14%;
  }
}
h2:after {
  content: "";
  width: 10%;
  height: 3px;
  position: absolute;
  bottom: -1;
  left: 45%;
  background: rgba(0,0,0,0.2);
}
@media only screen and (max-width: 47em) {
  h2:after {
    width: 28%;
    left: 36%;
  }
}
h3 {
  color: #442529;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0;
}
.btn {
  border-radius: 50px;
  text-decoration: none;
  padding: 12 24;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.btn:focus,
.btn:hover {
  outline: none;
}
@media only screen and (max-width: 47em) {
  .btn {
    width: 100%;
  }
}
.btn-primary {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-primary:focus,
.btn-primary:hover {
  background: #fff;
  color: #442529;
}
.btn-secondary {
  border: 1px solid #442529;
  background: #fff;
  color: #4a4a4a;
}
.btn-secondary:focus,
.btn-secondary:hover {
  background: #442529;
  color: #fff;
}
.section-margin {
  width: auto;
  max-width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0 80px 0;
  position: relative;
}
@media only screen and (max-width: 47em) {
  .section-margin {
    max-width: 85%;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #fff;
  z-index: 90;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.19);
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.1);
}
@media only screen and (max-width: 47em) {
  .nav {
    -webkit-transform: translate3d(0, -300px, 0);
    -ms-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
}
.nav.scroll {
  background: #fff;
  color: #4a4a4a;
}
.nav.scroll a {
  color: rgba(74,74,74,0.5);
}
.nav.scroll a:hover {
  color: #442529;
}
.nav.scroll .nav-active a {
  color: #442529;
}
.nav.showNav {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.nav-menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.nav-menu-item {
  display: inline-block;
  margin: 10px 5px;
}
.nav-menu-item.nav-active a {
  color: #fff;
  border: 1px solid #ccc;
  font-weight: bold;
  border-radius: 50px;
}
@media only screen and (max-width: 47em) {
  .nav-menu-item.nav-active a {
    border-radius: 0;
    border: 0;
  }
}
.nav-menu-item a {
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-size: 0.625rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  border: 1px solid rgba(255,255,255,0);
}
.nav-menu-item a:hover {
  color: #fff;
}
.home {
  background-image: url("imgs/home1.jpg");
  background-position: bottom right;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
}
.home:before {
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),transparent 50%);
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),transparent 50%);
  background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.3),transparent 50%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.3),transparent 50%);
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top,rgba(0,0,0,0.3),transparent 50%);
}
.mask {
  background: #442529;
  height: 100%;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.nomes {
  width: 100%;
  position: absolute;
  top: 50%;
}
.nomes img {
  width: 35%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 47em) {
  .nomes img {
    width: 80%;
  }
}
@media only screen and (max-width: 47em) and (orientation: landscape) {
  .nomes img {
    width: 50%;
  }
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.downArrow {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 47em) and (orientation: landscape) {
  .downArrow {
    display: none;
  }
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
.data {
  text-align: center;
  display: block;
  letter-spacing: 3px;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 47em) {
  .data {
    font-size: 16px;
    font-size: 1rem;
  }
}
.countdown-row {
  text-align: center;
  margin: 10px 0 20px 0;
}
.countdown-row:before,
.countdown-row:after {
  content: " ";
  display: table;
}
.countdown-row:after {
  clear: both;
}
.countdown-section {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 10px;
}
@media only screen and (max-width: 47em) {
  .countdown-section {
    margin: 0;
  }
}
.countdown-section:before {
  content: " : ";
  display: inline-block;
  margin: 0 0 0 -15px;
  position: absolute;
  left: 0;
  font-size: 22px;
  font-size: 1.375rem;
}
@media only screen and (max-width: 47em) {
  .countdown-section:before {
    margin: 0;
  }
}
.countdown-section:first-child:before {
  content: "";
}
.countdown-amount {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}
.countdown-period {
  display: block;
  font-family: 'Great Vibes', cursive;
  text-transform: lowercase;
  font-size: 22px;
  font-size: 1.375rem;
  color: #442529;
}
.accent-bg {
  background-color: #442529;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  position: relative;
}
.accent-bg:before {
  background-image: -webkit-linear-gradient(top,#2f191c,transparent 50%);
  background-image: -moz-linear-gradient(top,#2f191c,transparent 50%);
  background-image: -ms-linear-gradient(top,#2f191c,transparent 50%);
  background-image: -o-linear-gradient(top,#2f191c,transparent 50%);
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom,#2f191c,transparent 50%);
}
.accent-bg:after {
  background-image: -webkit-linear-gradient(bottom,#2f191c,transparent 50%);
  background-image: -moz-linear-gradient(bottom,#2f191c,transparent 50%);
  background-image: -ms-linear-gradient(bottom,#2f191c,transparent 50%);
  background-image: -o-linear-gradient(bottom,#2f191c,transparent 50%);
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top,#2f191c,transparent 50%);
}
.accent-bg h2 {
  color: #fff;
}
.accent-bg h2:before {
  background: rgba(255,255,255,0.2);
}
.accent-bg h2:after {
  background: rgba(255,255,255,0.3);
}
.form-control {
  display: block;
  width: 100%;
  padding: 14px 20px;
  border: 1px solid rgba(255,255,255,0.3);
  margin-top: 10px;
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.form-control:focus {
  border-color: #fff;
}
option {
  background: #442529;
}
.error {
  color: #fa4040;
  padding: 15px;
  display: block;
  margin-bottom: 20px;
  border: solid 1px #fa4040;
  border-radius: 50px;
  background: rgba(0,0,0,0.2);
}
@media only screen and (max-width: 47em) {
  .error {
    text-align: center;
  }
}
.contact-item {
  margin-bottom: 40px;
  color: rgba(255,255,255,0.8);
}
.gift-text {
  text-align: center;
  line-height: 1.5rem;
}
.gift-row {
  margin-top: 60px;
}
.gift-row:before,
.gift-row:after {
  content: " ";
  display: table;
}
.gift-row:after {
  clear: both;
}
@media only screen and (min-width: 41em) {
  .gift-row {
    padding: 0 120px;
  }
}
@media only screen and (min-width: 41em) and (max-width: 68em) {
  .gift-row {
    padding: 0;
  }
}
.gift-card {
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.5%;
  margin-left: 0%;
  margin-right: 5%;
  margin-bottom: 20px;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 25px rgba(0,0,0,0.1);
}
.gift-card:before,
.gift-card:after {
  content: " ";
  display: table;
}
.gift-card:after {
  clear: both;
}
.gift-card:nth-child(n) {
  margin-right: 5%;
  float: left;
  clear: none;
}
.gift-card:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.gift-card:nth-child(2n + 1) {
  clear: both;
}
@media only screen and (max-width: 47em) {
  .gift-card {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .gift-card:first-child {
    margin-left: auto;
  }
  .gift-card:last-child {
    margin-right: auto;
  }
}
.gift-card:hover {
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
.gift-card:hover img {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.gift-card img {
  max-width: 100%;
  height: 150px;
  padding: 40px 60px;
  display: block;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#map {
  height: 450px;
  width: 100%;
}
.map-row {
  padding-bottom: 30px;
}
@media only screen and (min-width: 41em) {
  .map-row {
    padding-bottom: 60px;
    padding-top: 10px;
  }
}
.map-section-map {
  padding-top: 30px;
}
@media only screen and (min-width: 41em) {
  .map-section-map {
    width: 95%;
    padding-top: 60px;
  }
}
.map-section-adress {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 41em) {
  .map-section-adress {
    width: 40%;
    box-shadow: 0 1px 25px rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    z-index: 1;
  }
}
.adress {
  display: block;
  line-height: 25px;
  padding-bottom: 40px;
}
@-moz-keyframes bounce {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bounce {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@-o-keyframes bounce {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
