//==== font ize mixin

font-size(value) { 

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
      } else if (unit(value) is em){
    font-size: value;
  } else {
    font-size: value; 
    font-size: remify(value);
  }
}
remify(value) { /* separate mixin, so it can be used elsewhere */
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
      } else {
        return unit(value, u);
      }
    }
    
//=== shadow mixin
shadow-top(n)
    content ""
    width 100%
    height 100px
    position absolute
    top 0
    left 0
    background-image: linear-gradient( to bottom, n, transparent 50%)
  
  
    
shadow-down(n)
    content ""
    width 100%
    height 100px
    position absolute
    bottom 0
    left 0
    background-image: linear-gradient( to top, n, transparent 50%)