rupture.scale = 0		37em 	41em 	47em 	68em 	82em	100em 
rupture.scale-names = 	'xs' 	'sm' 	'md' 	'lg' 	'xl' 	'hd'
rupture.mobile-cutoff = 37em
rupture.desktop-cutoff = 68em
$primary-color = #058e7c
$primary-dark = darken($primary-color, 30%)
$font = Helvetica, Arial, sans-serif
$font-color = #5f5f5f
$bg = #f2f2f2
$shadow = 0 2px 4px rgba(0,0,0,0.2);
