@import "kouto-swiss"
@import '_variables'
@import '_mixins'
normalize()

//==== resets =======================================================
html, body
  height:100%
  font-family $font
  color $font-color
  background #faf8f8
  box-sizing border-box //border box reset
  &.noscroll
    overflow hidden

*, *:before, *:after 
  box-sizing: inherit //border box reset
h2
  color $primary-color
  font-family $cursive-font
  font-size 60px
  text-align center
  font-weight normal
  position relative
  padding-bottom 20px

h2:before
  content ""
  width 24%
  height 1px
  position absolute
  bottom 0
  left 38%
  background alpha(#000, .1)
  +below(md)
    width 72%
    left 14%
  
h2:after
  content ""
  width 10%
  height 3px
  position absolute
  bottom -1
  left 45%
  background alpha(#000, .2)
  +below(md)
    width 28%
    left 36%
  

input:focus, select:focus, textarea:focus, button:focus
  outline 0
  
  
//=== Base items =======================================================
  
.button-primary
  border 2px solid $primary-color
  background #fff
  color $primary-color
  text-decoration none
  padding 12 24
  display inline-block
  transition 0.2s
  cursor pointer
  &:focus, &:hover
    background $primary-color
    color #fff
    outline none
  +below(md)
    width 100%
    
.section-margin
  width auto
  max-width 70%
  display block
  margin-right auto
  margin-left auto
  padding 60px 0 80px 0
  position relative
  +below(md)
    max-width 85% 
  
  
// ==== Nav =======================================================
.nav
  position fixed
  top -80
  left 0
  width 100%
  height: auto
  color $primary-color
  z-index 90
  transition .5s
  background #fff
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.10)


  +below(md)
    transform translate3d(0,1000px,0)
    transition: transform 0.5s ease;
    height 100%
    top 0
    &:before
      content "Menu"
      @extend h2
      text-align center
      width 100%
      padding 20px 0
      position relative
      display block
      top 0
      left 0
      
    &:after
      content ""
      width 100%
      height 140px
      position absolute
      bottom 0
      left 0
      background-repeat: no-repeat;
      background-position: top left;
      background-size cover
      background-image: url(../imgs/flores.png);

  &.scroll
    top 0

  &.showNav
    transform translate3d(0,0,0)


  &-menu
    margin 0px
    padding 0px
    text-align center

    &-item
      display inline-block
      margin 10px 5px
      +below(md)
        display block
        border-bottom 1px solid alpha($primary-color, .3)
        margin 0 30px
        &:first-child
          border-top 1px solid alpha($primary-color, .3)
    
      a
        color alpha($primary-color, .5)
        letter-spacing 0.25em
        text-decoration none
        text-transform uppercase
        font-size 10px
        transition .2s
        display inline-block
        position relative
        padding 15px 20px
        border 1px solid #fff
        +below(md)
          display block
          color alpha($primary-color, .6)
          text-align center
          padding 30px

        &:hover
          color $accent-color

        &.nav-active
          color $accent-color
          border 1px solid #ccc
          font-weight bold
          border-radius 10px
          +below(md)
            background alpha($accent-color, .1)
            border-radius 0
            border 0



.hamburger
  background $primary-color - 20%
  color #fff
  border-radius 50%
  transition margin-left 250ms ease-in-out
  position fixed
  z-index 100
  bottom 5%
  right 5%

  +above(lg)
    display none

// ==== home =======================================================
.home
  background-image url(imgs/couple_home.jpg)
  background-position bottom left
  background-size cover
  background-attachment fixed
  height: 100%
  position: relative
  box-sizing content-box
  &:before
    @extend .shadow-down
  

.mask
  background #000
  height 100%
  width 100%
  opacity .2
  position absolute
  top 0
  left 0
  
  
.nomes
  width 100%
  position: absolute
  top 50%
  transform translate(0, -70%)
  & img
    width 30%
    align(both)
    +below(md)
      width 80%
      
#particles-js
  position: absolute
  width: 100%
  height: 100%
  z-index 1      

//==== Save the date =======================================================    
    
 .data
  text-align center
  display block
  letter-spacing 3px
  font-size 20px
  text-transform uppercase
  +below(md)
    font-size 16px
  
  
.countdown
  &-row
    text-align center
    margin 10px 0 20px 0
    clearfix()
  &-section
    display inline-block
    position relative
    margin 0 10px
    padding 10px
    border-radius 50px
    +below(md)
      margin 0
    &:before
      content: " : "
      display: inline-block
      margin: 0 0 0 -15px
      position: absolute
      left: 0;
      font-size 22px
      +below(md)
        margin 0
    &:first-child:before
      content ""
    
  &-amount
    font-size 24px
    font-weight bold
  &-period
    display block
    font-family $cursive-font
    text-transform lowercase
    font-size 22px
    color $accent-color
    

//==== RSVP =======================================================

.rsvp
  background-color $accent-color
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png")
  position: relative
  
  &:before
    @extend .shadow-top
    
  & h2
    color #fff
    &:before
      background alpha(#fff, .2)
    &:after
      background alpha(#fff, .3)

.form-control
  display block
  width 100%
  padding 10px 10px
  border: 1px solid #fff
  margin-top 10px
  background alpha(#fff, .1)
  color #fff
  
option
  background $accent-color

.error
  color #fa4040
  padding  15px
  display block
  margin-bottom 20px
  border solid 1px #fa4040
  background alpha(#000, .2)
  +below(md)
    text-align center
    
.contact-item
  margin-bottom 40px
  color alpha(#fff, .8)

//==== Gifts =======================================================
.gift
  &-text
    text-align center
    line-height 1.5rem
    
  &-row
    margin-top 40px
    clearfix()
    
  &-card
    column(1/3, $cycle: 3)
    margin-bottom 20px
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    background #fff
    +below(md)
      stack()
      
    &:hover
      box-shadow: 0 5px 30px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
      
    & img
      max-width 100%
      height 150px
      padding 30px
      display block
      margin 0 auto
    
    
  

  
//==== Map =======================================================
  
#map
  height 400px
  width 100%
  border-radius 10px
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.10)
  
.map
  &-row
    clearfix()
    
  &-section
    column(1/2, $cycle: 2)

    



