@import "kouto-swiss"
normalize()
  
.fullpage
  background: red
  height: 100%
  padding-bottom: 100px!important;
  position: relative
  &:after
    content: "";
    width: 100%;
    height: 241px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url(http://www.wiselythemes.com/html/lilac/images/divider_1.png);
    z-index: 0;
    
h1
  align(both)
  text-align:center